{
 :paths ["src"]

 :deps
 {cheshire/cheshire {:mvn/version "5.11.0"}
  ;; Suppress SLF4J Warning
  org.slf4j/slf4j-nop {:mvn/version "2.0.13"}
  cli-matic/cli-matic {:mvn/version "0.5.4"}
  com.networknt/json-schema-validator {:mvn/version "1.0.87"}}

 :aliases
 {:rebel+init
  {:extra-deps {com.bhauman/rebel-readline {:mvn/version "0.1.4"}}
   :main-opts ["-e" "(require '[ask_clojure.ask :as ask])"
               "-e" "(println \"ask_clojure.ask loaded as 'ask'\")"
               "-m" "rebel-readline.main"]}}
}
